name: python pypi upload

on:
  push:
    branches:
      - master
    paths:
      - 'python/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
      
      - name: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: pip build twine
        run: |
          python3 -m pip install --upgrade pip
          pip3 install build twine
        working-directory: python
      
      - name: build
        run: python3 -m build
        working-directory: python
      
      - name: twine upload
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: python3 -m twine upload dist/*
        working-directory: python

permissions:
  contents: read
