name: typescript npm publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/"
      
      - name: npm
        run: |
          npm ci
          npm version patch
          npm run build
          npm publish --access public
        working-directory: typescript
      
      - name: git push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit --allow-empty-message --message=''
          git push

permissions:
  contents: write
  id-token: write
